
        
            
<div class="container">
  <div class='push-jumbo'>
    <div class="jumbotron">
      <div class="container">
        <div class="row well well-lg">
          <div class="col-md-6 col-md-offset-3">
            <h1 class='splash'>CABBIE</h1>
              <p class='lead'>Hack your ride</p>
              <!-- <p>Search for your driver by medallion or license plate number:</p> -->
              <%= form_tag medallion_search_path, method: 'post', :class => 'input-medium search-query', :role => "form" %>
              <%= label_tag :medallion_number, nil, class: "sr-only" %>
              <%= text_field_tag :medallion_number, nil, class: "form-control", placeholder: "Medallion or License number", :autofocus => true %><br>
              <%= submit_tag "Search", :class => "btn btn-lg btn-primary btn-block" %>
          </div>
        </div>      
      </div>
    </div>  
  </div>
</div>
  
    <%#= form_tag(medallion_search_path, method: "post", class: 'input-medium search-query') do %>
      <%#= label_tag(:medallion_number, "Medallion Number") %>
      <%#= text_field_tag(:medallion_number) %>
      <%#= submit_tag("Search by Medallion Number") %>
    <%# end %>



