<!-- <div class="panel-footer footer" role='presentation'></div> -->

  
<footer class="footer">
  <div class="container">
    <p class="text-muted">Made with &#10084; at The Flatiron School</p>
  </div>
</footer>