<footer class="footer">
    <div class="bottom-bar">
        <h6 class="footer-text">Made with &#10084; at <a href="http://www.flatironschool.com/" target="_blank">The Flatiron School</a></h4>
    </div><!--//footer-content-->
</footer>