<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides" style="padding: 0px;">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <li class="slide slide-3"></li>
        </ul>
    </div>
</div>
<header id="header" class="header">  
    <div class="container">       
        <h1 class="logo">
            <a href="<%= root_path %>"><span class="text">Cabbie</span></a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% if !user_signed_in? %>
                        <li class="nav-item"><a href="<%= signup_path %>">Sign Up</a></li>
                        <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="/login">Log In</a></li>
                    <% elsif user_signed_in? %>
                        <li class="nav-item"><a href="<%= user_path(current_user) %>">Your Reviews</a></li>
                        <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="/logout">Log Out</a></li>
                        <p class="navbar-text navbar-center"><%= "Hello, #{current_user.name}!" %></p>
                    <% end %>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->                     
    </div><!--//container-->
</header><!--//header-->

   
    <!-- ******HEADER****** --> 
    
    
    <!--//bg-slider-wrapper-->        
    


<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="<%#= root_path %>">Home</a></li>
    <#% if !user_signed_in? %>
      <li role="presentation" class=""><a href="<%#= signup_path %>">Sign Up</a></li>
      <li role="presentation"><a href="/login">Log In</a></li>
    <#% else %>
      <p class="navbar-text navbar-right"><%#= "Hello, #{current_user.name}!" %></p>
      <li role="presentation"><a href="<%#= user_path(current_user) %>">Your Reviews</a></li>
      <li role="presentation"><a href="/logout">Log Out</a></li>
    <#% end %>
    </ul>
  </div>
</nav>

<#% if notice  %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%#= notice %>
  </div>
<%# end %>   -->















